<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	>
	
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />     
    <title>JSF CRUD Example</title>
    <style type="text/css">
        .tableUpdated {
        	width: 90% !important;
        	margin: 17px 58px 0 !important;
        }
        .btnSpace {
        	margin: 17px;
        }
        #studentTable {
        	border: 1px;
        }
    </style>
</h:head>
<h:body>
    <center><h2><h:outputText value="Student Records"/></h2></center>
    <h:form id="studentForm">
        <h:dataTable id="studentTable" binding="#{table}" value="#{studentBean.studentsList()}" var="student" class="table table-striped table-hover table-bordered tableUpdated">
            <h:column>
                <f:facet name="header">Id</f:facet>
                <h:outputText value="#{table.rowIndex + 1}" />
            </h:column>
            <h:column>
                <f:facet name="header">Student Name</f:facet>
                <h:outputText value="#{student.name}" />
            </h:column>
            <h:column>
                <f:facet name="header">Email Address</f:facet>
                <h:outputText value="#{student.email}" />
            </h:column>
            <h:column>
                <f:facet name="header">Password</f:facet>
                <h:outputText value="#{student.password}" />
            </h:column>
            <h:column>
                <f:facet name="header">Gender</f:facet>
                <h:outputText value="#{student.gender}" />
            </h:column>
            <h:column>
                <f:facet name="header">Address</f:facet>
                <h:outputText value="#{student.address}" />
            </h:column>
            <h:column>
                <f:facet name="header">Update</f:facet>
                <h:commandButton action="#{studentBean.editStudentRecord(student.id)}" value="Update" class="btn btn-primary" />
            </h:column>
            <h:column>
                <f:facet name="header">Delete</f:facet>
                <h:commandButton action="#{studentBean.deleteStudentRecord(student.id)}" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?')">
                 <f:ajax render = "studentForm:studentTable" />
                 </h:commandButton>
            </h:column>
        </h:dataTable>
        <center>
            <h:commandButton action="createStudent.xhtml?faces-redirect=true" value="Create New User" class="btn btn-success btnSpace" />
        </center>
    </h:form>
</h:body>
</html>